<!DOCTYPE html>
<html lang="tkm">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="logo">
                <img src="images/logo.png" alt="">
            </div>
            <div class="search">
                <input type="text" placeholder="search">
            </div>
            <div class="admin">
                <img src="images/admin.png" alt="">
            </div>
        </div>
        <div class="cont">
            <div class="sidebar">
                <div class="sidehead">
                    <h3>Title</h3>
                </div>
                <div class="sidecont">
                        <a href="kitaplar.html">Kitaplar</a>
                        <a href="kitapcalar.html">Kitapçalar</a>
                        <a href="ulanyjylar.html">Ulanyjylar</a>
                        <a href="kitapcagos.html">Kitapça döret</a>
                        <a href="ulanyjygos.html">Ulanyjy goş</a>
                        <a href="kitapgos.html">Kitap goş</a>
                        <a href="barada.html">Barada</a>
                </div>
            </div>
            <div class="maincont">
                <div class="maincontdv">
                    <div class="kitapgos">
                        <h3>Kitap goş</h3>
                        <div class="kitapgoscont">
                            <a href="">
                                <img src="images/8TGb5E59c.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="kitapgos">
                        <h3>Ulanyjy goş</h3>
                        <div class="kitapgoscont">
                            <a href="">
                                <img src="images/8TGb5E59c.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="kitapgos">
                        <h3>Kitapça döret</h3>
                        <div class="kitapgoscont">
                            <a href="">
                                <img src="images/8TGb5E59c.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="kitapgos">
                        <h3>Kitapçalar</h3>
                        <div class="kitapgoscont">
                            <a href="">
                                <img src="images/8TGb5E59c.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>