{% extends 'base.html' %}{% block content %}
<div class="maincontdv">
  {% for user in users %}
  <div class="usrtbl">
    <h1>Ulanyjy</h1>
    <table className="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Ulanyjy ady</th>
          <th scope="col">Fakulteti</th>
          <th scope="col">Kursy</th>
          <th scope="col">Hünäri</th>
          <th scope="col">Doglan Senesi</th>
          <th scope="col">Ýaşaýan ýeri</th>
          <th scope="col">Nomeri</th>
          <th scope="col">Kitaplarynyň mukdary</th>
          <th scope="col">Kitaplaryny gor</th>
          <th scope="col">Kitapça goş</th>
          <th scope="col">Ulanyjyny poz</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user.id}}</td>
          <td><a href="{% url 'user' user.id %}">{{user.username}}</a></td>
          <td>{{user.fakultet}}</td>
          <td>{{user.kurs}}</td>
          <td>{{user.profession}}</td>
          <td>{{user.birthDate}}</td>
          <td>{{user.address}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.recordsUser.count}}</td>
          <td>
            <p
              style="color: blue; cursor: pointer; margin: 0"
              onclick="func({{user.id}})"
            >
              Hemme kitaplary gör
            </p>
          </td>
          <td>
            <p
              style="color: blue; cursor: pointer; margin: 0"
              onclick="opencard({{user.id}})"
            >
              Kitapca goş
            </p>
          </td>
          <td><a href="{% url 'delete_user' user.id %}">Ulanyjyny poz</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="display: none" class="{{user.id}}" class="di">
    <div class="dititle">
      <h3>Ulanyjynyň kitaplary</h3>
      <p onclick="func({{user.id}})">x</p>
    </div>
    <div class="dicont">
      {% for record in user.recordsUser.all %}
      <div style="background-color: #3a3a3a" class="bookmn">
        <div class="bookmain">
          <div class="bookimg">
            <img src="{{record.book.image.url}}" alt="" />
            <h3>Kitabyn ady</h3>
          </div>
          <div class="bookinfo">
            <p>ID: {{record.book.id}}</p>
            <p>Kategoriýa: {{record.book.name}}</p>
            <p>Ulanyjynyň kitaby alan senesi: {{record.date}}</p>
            <p>Çap edilen senesi: {{record.book.pubDate}}</p>
          </div>
          <a href="{% url 'delete_record' record.id %}"
            >Kitaby ulanyjydan aýyr</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div style="display: none" class="{{user.id}}" class="addcard">
    <div class="dititle">
      <h3>Ulanyja kitap goş</h3>
      <p onclick="opencard({{user.id}})">x</p>
    </div>
    <div class="dicont">
      <form
        action="{% url 'add_record_object' %}"
        method="post"
        className="form-group"
      >
        {% csrf_token %}
        <div class="addsr">
          <input type="hidden" value="{{user.id}}" name="user" />
          <p>Kitap ID:</p>
          <input
            placeholder="Kitabyň ID'syny giriziň"
            type="text"
            name="book"
          />
          <button>Gos</button>
        </div>
      </form>
    </div>
  </div>
  {% endfor %}

  <a class="usraddbtn" href="{% url 'add_user' %}">Ulanyjy gos</a>
</div>
<script>
  function func(id) {
    var x = document.getElementsByClassName(id)[0];
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function opencard(id) {
    var x = document.getElementsByClassName(id)[1];
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
{% endblock content %}
